# Ignore node_modules
node_modules

# Ignore the compiled JavaScript files
dist

# Ignore any environment files
.env

# Ignore logs and debugging files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore any build artifacts or temporary files
build
out
.tmp

# Ignore any editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.log
